body, 
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0; 
}

header,
nav, 
footer, 
section, 
article, 
div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 * 
 */



/*
 *
 * Header
 *
 */

 .header {
    display: grid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    /* width: 100%; */
    /* min-height: 56px;
  transition: min-height 0.3s; */
 }

 .header__inner {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
 }

 .header__logo {
    height: 72px;
    max-width: 100%;
    background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
 }

 .header__title {
    font-weight: 300;
    font-size: 3em;
    margin: 0.5em 0.25em;
    color: #212121;
    display: grid;
    justify-self: center;
    text-align: center;
}

.header__menu {
  display: grid;
  padding: 0.75em;
  justify-self: center;
}

.header__menu svg {
  width: 50px;
}



 
/*
 *
 * Top Level Navigation
 *
 */
 .nav {
  display: grid;
  grid-template-columns: 100%;
  z-index: 10;
  background-color: black;
  color: white;
  width: 100%;
  height: 300px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

 .nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.nav__item {
  display: grid;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 12px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color:white;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: red;
}


/*
 *
 * Main
 *
 */

 main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
}


/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  background-image: url("./images/dog.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  height: 40%;
  color: #fff;
  padding: 5px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  align-self: end;
}

/*
 *
 * Top News
 *
 */

 .top-news {
  /* border-bottom: 1px solid #E0E0E0; */
  padding: 1em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0px;
}

.news__more {
  font-size: .8em;
  color: #333;
  text-decoration: none;
  justify-self: end;
  display: grid;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}


.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

 .scores {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  border-bottom: 1px solid #E0E0E0;
  margin-left: 5px;
  margin-right: 5px;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em; 
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

 .weather {
  padding: 1em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.weather__location {
  display: grid;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: grid;
  font-size: 1.5em;
}

.weather__today__temp {
  font-size: 25px;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__deg {
  font-size: 2em;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}


.weather__next__image {
  width: 100%;
}


/*
 *
 * Recent News
 *
 */

.recent-news {
  /* clear: both;  not working*/
  padding: 1em;
  display: grid;
}


.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

 footer {
  border-top: 1px solid #E0E0E0;
  /* width: 100%;  DO I NEED THIS PROPERTY */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
  justify-content: space-between;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}

